*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
.history/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
desktop.ini/
*.egg
*.egg-info/
*.pydevproject
.eggs/
.installed.cfg
.Python
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
env/
ENV/
lib/
lib64/
parts/
sdist/
target/
var/
venv/
*.pyc
